.services_card {
    width: 352px;
    height: 475px;
    background: linear-gradient(180deg, #36363E 0%, var(--dma-color-black-primary) 100%);
    border: 1px solid #424245;
    border-radius: 30px;
    padding: 41px 39px;
}
.pricing-card {
    width: 389px;
    height: 554px;
    border-radius: 10px;
    padding: 45px 38px;
}
.subscribe-card {
    padding: 49px 53px;
    width: 399px;
    height: 652.16px;
    background: var(--dma-color-black-primary-light);
    border-radius: 7px;
}
@media (min-width: 992px) {
    .pricing-card {
        width: 100%;
    }
}
@media (min-width: 1300px) {
    .pricing-card {
        width: 389px;
        height: 554px;
        border-radius: 10px;
        padding: 45px 38px;
    }
}
.pricing-card--gray {
    background: #F7F7F7;
    border: 1px solid #E2E2E2;
}
.pricing-card--black {
    background: #292930;
}
.yellow-slash {
    color: var(--dma-color-yellow-primary);
}
.blue-slash {
    color: var(--dma-color-blue);
}
.line {
    border: 1px solid var(--dma-color-gray-tertiary);
    margin: 30px auto;
}
.popular {
    width: 89px;
    height: 40px;
    background: var(--dma-color-yellow-secondary);
    border-radius: 9px;

    font-family: var(--dma-font-notosans);
    font-weight: 500;
    font-size: 15px;
    line-height: 244%; /* identical to box height, or 37px */
    color: var(--dma-color-black-primary);

    top: 22px;
    right: 32px;
}