.header-nav-link {
    display: initial;
    align-items: initial;
    justify-content: initial;
}
.active {
    border-bottom: 3px solid red;
}
/* #FFDC60 */
/* #5956E8 */
@media (min-width: 992px) {
    .header-nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}