body {
    font-family: var(--dma-font-nunito);
    font-weight: 500;
}
.heading-secondary {
    font-weight: 600;
    font-size: 40px;
    line-height: 110.5%; /* 110.5% === 44px */
    color: var(--dma-color-white);
}
.heading-secondary--black {
    font-weight: 600;
    font-size: 40px;
    line-height: 110.5%; /* 110.5% === 44px */
    color: var(--dma-color-black-primary);
}
.heading-tertiary {
    font-weight: 600;
    font-size: 25px;
    line-height: 110.5%; /* identical to box height, or 28px */
    color: var(--dma-color-white);
}
.service-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 110.5%;  /* identical to box height, or 28px */
    color: var(--dma-color-black-primary);
}
.price-number {
    font-weight: 900;
    font-size: 50px;
    line-height: 110.5%; /* 110.5% === 55px */
    color: var(--dma-color-black-primary);
}
.price-in-month {
    font-family: var(--dma-font-notosans);
    font-weight: 400;
    font-size: 18px;
    line-height: 244%; /* identical to box height, or 44px */
    color: var(--dma-color-gray-primary);
}
.tip-gray {
    font-family: var(--dma-font-notosans);
    font-size: 15px;
    font-weight: 500;
    line-height: 156.5%; /* 156.5% === 23px */
    letter-spacing: 0.135em;
    color: var(--dma-color-gray-secondary);
}
.tip-black {
    font-family: var(--dma-font-notosans);
    font-size: 15px;
    font-weight: 500;
    line-height: 156.5%; /* 156.5% === 23px */
    letter-spacing: 0.135em;
    color: var(--dma-color-black-primary);
}
.services_paragraph {
    font-family: var(--dma-font-notosans);
    font-weight: 400;
    font-size: 18px;
    line-height: 156.5%;  /* or 28px */
    color: var(--dma-color-gray-secondary);
}