.ms-8 {
    margin-left: 8px;
}
.mb-14 {
    margin-bottom: 14px;
}
.my-18 {
    margin-top: 18px;
    margin-bottom: 18px;
}
.mb-28 {
    margin-bottom: 28px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-34 {
    margin-bottom: 34px;
}
.mb-41 {
    margin-bottom: 41px;
}
.mb-67 {
    margin-bottom: 67px;
}
.mb-90 {
    margin-bottom: 90px;
}
.mt-30 {
    margin-top: 30px;
}
.ms-58 {
    margin-left: 58px;
}
.me-43 {
    margin-right: 43px;
}
.divider {
    background-color: var(--dma-color-black-tertiary-light);
    height: 1px;
}
.divider-y-50 {
    margin: 50px 0;
}
.divider-t-50 {
    margin-top: 50px;
}
/* Responsive spacing for columns */
.ms-auto-right-box {
    margin-left: auto;
    margin-right: auto;
}
.me-auto-left-box {
    margin-left: auto;
    margin-right: auto;
}
.mx-auto-middle-box {
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .ms-auto-right-box {
        margin-left: auto;
        margin-right: auto;
    }
    .me-auto-left-box {
        margin-left: auto;
        margin-right: auto;
    }

    .mx-auto-middle-box {
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 768px) {
    .ms-auto-right-box {
        margin-left: auto;
        margin-right: auto;
    }
    .me-auto-left-box {
        margin-left: auto;
        margin-right: auto;
    }

    .mx-auto-middle-box {
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 992px) {
    .ms-auto-right-box {
        margin-left: auto;
        margin-right: auto;
    }
    .me-auto-left-box {
        margin-left: auto;
        margin-right: auto;
    }

    .mx-auto-middle-box {
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 1200px) {
    .ms-auto-right-box {
        margin-left: auto;
    }

    .mx-auto-middle-box {
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 1300px) {
    .ms-auto-right-box {
        margin-left: auto;
        margin-right: 0;
    }
    .me-auto-left-box {
        margin-right: auto;
        margin-left: 0;
    }
    .mx-auto-middle-box {
        margin-right: auto;
        margin-left: auto;
    }
}
@media (min-width: 1400px) {
    .ms-auto-right-box {
        margin-left: auto;
    }
    .me-auto-left-box {
        margin-right: auto;
    }
    .mx-auto-middle-box {
        margin-right: auto;
        margin-left: auto;
    }
}